---
import img1 from "@assets/photoes/1.jpeg";
import img2 from "@assets/photoes/2.jpeg";
import img3 from "@assets/photoes/3.jpeg";
import img4 from "@assets/photoes/4.jpeg";
import img5 from "@assets/photoes/5.jpeg";
import img6 from "@assets/photoes/6.jpeg";
import img7 from "@assets/photoes/7.jpeg";
import img8 from "@assets/photoes/8.jpeg";
import img9 from "@assets/photoes/9.jpeg";
import PhotoesHeader1 from "@assets/photo-header1.svg";
import PhotoesHeader2 from "@assets/photo-header2.svg";
import { Image } from "astro:assets";

const images = [
  {
    src: img1,
    title: "Команда OK.TECH на CodeFest 2023",
    subtitle: "Стенд OK.TECH",
  },
  {
    src: img2,
    title: "Офис ОК",
    subtitle: 'Санкт-Петербург',
  },
  {
    src: img3,
    title: "Выступление Антона Федчина, руководителя проекта Одноклассники",
    subtitle: "На открытии офиса ВК в Казани",
  },
  {
    src: img4,
    title: "Офис ОК",
    subtitle: 'Санкт-Петербург',
  },
  {
    src: img5,
    title: "Наша команда OK.TECH на конференции Saint HighLoad++ 2023",
    subtitle: "Saint HighLoad++",
  },
  {
    src: img6,
    title: "Кухня в офисе ОК",
    subtitle: "Санкт-Петербург",
  },
  {
    src: img7,
    title: "Офис, игровая комната",
    subtitle: "Офис Санкт-Петербурга",
  },
  {
    src: img8,
    title: "Свой митап «ML в production»",
    subtitle: "Санкт-Петербург",
  },
  {
    src: img9,
    title: "Организуем OK Tech Talk «А/B-тестирование»",
    subtitle: "OK Tech Talk",
  },
];
---

<section class="photo-gallery section-y">
  <div class="header text-animation-title">
    <Image
      src={PhotoesHeader1}
      alt=""
      class="header-item animate-textAnimation"
    />
    <Image
      src={PhotoesHeader2}
      alt=""
      class="header-item animate-textAnimation"
    />
  </div>
  <div class="gallery-container">
    {
      images.map((image) => (
        <div class="image-container">
          <div class="image-blur">
            <div class="text-headline">{image.subtitle}</div>
            <div class="text-title-2">{image.title}</div>
          </div>
          <Image
            class="image"
            src={image.src}
            alt={image.title}
            loading="lazy"
          />
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  @import "../../styles/global.scss";

  .photo-gallery {
    overflow: hidden;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header {
    display: flex;
    animation: textAnimation 75s linear infinite;

    &-item {
      height: 100%;
      max-width: none;
    }
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 320px));
    gap: 16px;
  }

  .text {
    transition: opacity 0.3s;
  }
  .image {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    object-fit: cover;
    transition: filter 0.3s;

    &-blur {
      position: absolute;
      display: none;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      padding: 24px;
      backdrop-filter: blur(40px);
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 1;
      transition: opacity 0.3s;
    }

    &-container {
      position: relative;
      border-radius: 24px;
      overflow: hidden;

      &:nth-of-type(1) {
        grid-column: span 2;
      }
      &:nth-of-type(4) {
        grid-column: span 2;
      }
      &:nth-of-type(6) {
        grid-row: 5;
        grid-column: span 2;
      }
      &:nth-of-type(8) {
        grid-row: 6;
        grid-column: 2;
      }
      &:hover {
        .image-blur {
          opacity: 1;
        }
      }
    }
  }
  
  @include desktop {
    .gallery-container {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(6, minmax(0, 1fr));
    }
    .image-container {
      &:nth-of-type(1),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(8) {
        grid-row: span 2;
        grid-column: auto;
      }
      &:nth-of-type(3) {
        grid-row: 2;
        grid-column: 2;
        .text-title-2 {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:nth-of-type(6),
      &:nth-of-type(7) {
        grid-row: span 2;
        grid-column: span 2;
      }
    
      &:nth-of-type(9) {
        grid-row: span 2;
        grid-column: span 3;
      }
    }
    .image-blur {
      display: block;
    }
  }
</style>

<script>
  
</script>
