---
import Layout from "../layouts/Layout.astro";
import AboutBg from "@assets/about_bg.jpeg";
import TeamPhoto from "@assets/team-photo.jpeg";
import Footer from "@components/footer.astro";
import FooterImage from "@assets/footer-image.jpeg";
import Scrollup from "@components/scrollup.svelte";
import { Icon } from "astro-icon";
import { Image, getImage } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const optimizedImageTop = await getImage({ src: AboutBg });
const optimizedImageBottom = await getImage({ src: FooterImage });

const about = await getEntryBySlug("about", "index");
const { intro, product, work, bottom, button } = about.data;
---

<Layout title="О нас" ogTitle="О команде OK.TECH" description="Команда OK.TECH: каждый из нас влияет на то, каким увидят ОК миллионы пользователей.">
  <section class="top" style=`background-image: url(${optimizedImageTop.src});`>
  </section>

  <section class="about section-x section-y">
    <div class="text-title-1 about__content">
      <div>{intro.subtitle}</div>
      <Icon name="star" class="star" />
    </div>
    <a href={button.link} target="_blank" rel="nofollow">
      <button class="main-button text-button"> {button.text}</button>
    </a>
  </section>

  <section class="product section-x section-y">
    <h2 class="text-large-title">{product.title}</h2>
    <div class="product__content">
      {
        product.stats.map((product) => (
          <div class="product__item">
            <div class="text-title-1">{product.number}</div>
            <div class="text-body">{product.title}</div>
          </div>
        ))
      }
    </div>
  </section>

  <section class="team-photo section-x section-y">
    <Image src={TeamPhoto} alt="" />
  </section>

  <section class="work section-x section-y">
    <h2 class="text-large-title">{work.title}</h2>
    <div class="work__content">
      {
        work.info.map((item) => (
          <div class="work-item">
            <div class="text-title-3">{item.title}</div>
            <div class="text-body">{item.subtitle}</div>
          </div>
        ))
      }
    </div>
  </section>

  <div
    class="bottom"
    style={`background-image: url(${optimizedImageBottom.src});`}
  >
    <div class="bottom__content">
      <div class="text-title-3">
        {bottom.title1}
        <br />
        <br />
        {bottom.title2}
      </div>
      <a href={button.link} target="_blank" rel="nofollow">
        <button class="main-button">{button.text}</button>
      </a>
    </div>
    <Footer classes="absolute transparent" />
    <Scrollup client:load />
  </div>
</Layout>

<style lang="scss">
  @import "@styles/global.scss";
  .top {
    height: 500px;
  }

  .top,
  .bottom {
    background: no-repeat center center/cover;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }
  }

  .star {
    width: 37px;
    height: 37px;
    flex-shrink: 0;
  }

  .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;

    &__content {
      display: grid;
      gap: 48px;
    }
  }

  .team-photo {
    img {
      border-radius: 24px;
      object-fit: cover;
      height: 440px;
    }
  }

  .work {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &__content {
      display: grid;
      gap: 24px;
    }
  }

  .bottom {
    position: relative;
    overflow: hidden;
    color: white;
    margin-top: calc(60px + 30 * (100vw - 375px) / 1065);

    &__content {
      display: flex;
      flex-direction: column;
      gap: 48px;
      padding: 48px 16px 670px;
    }
  }
  @include desktop {
    .about {
      &__content {
        flex-direction: row;
        gap: 200px;
      }
    }

    .product {
      flex-direction: row;

      &__content {
        grid-template-columns: repeat(2, 250px);
      }
    }

    .team-photo {
      img {
        height: 100%;
      }
    }

    .work__content {
      gap: 48px;
      grid-template-columns: repeat(3, 1fr);
    }

    .bottom {
      &__content {
        padding: 95px 0 300px 95px;
        max-width: 479px;
      }
    }
  }
</style>

<script>
  const top = document.querySelector(".top") as HTMLElement;
  const header = document.querySelector("#page-header") as HTMLElement;
  const logo = document.querySelector("#logo") as HTMLElement;
  const page = document.documentElement;

  const changeLogo = () => {
    const d = top.offsetHeight - page.scrollTop - header.offsetHeight / 2;
    logo.classList.toggle("hidden-text", d < 0);
  }
  
  if (header) {
    changeLogo();
  
    document.addEventListener("scroll", changeLogo);
  }
</script>
