---
import Footer from "@components/footer.astro";
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("contacts", "index");
const { title, email, offices, mails } = about.data;
---

<Layout>
  <div class="contacts">
    <div class="contacts__container section-x">
      <div class="contacts__content">
        <div class="contacts__mail text-large-title">
          <div set:html={title}></div>
          <a href={`mailto:${email}`} class="hi-mail"> {email} </a>
        </div>
        <div class="mails">
          <div class="mails__container">
            {
              mails.map((mail) => (
                <div class="mails-item">
                  <div class="text-title-3">{mail.title}</div>
                  <a href={`mailto:${mail.url}`} class="text-headline mail">
                    {mail.url}
                  </a>
                </div>
              ))
            }
          </div>
          <Icon name="star" class="star" />
        </div>
      </div>
      <div class="addresses">
        {
          offices.map((office) => (
            <div>
              <div class="text-title-3">{office.city}</div>
              <div class="text-body">{office.address}</div>
            </div>
          ))
        }
      </div>
    </div>
    <Footer classes="" />
  </div>
</Layout>

<style lang="scss">
  @import "@styles/global.scss";

  .contacts {
    height: 100%;
    background-color: $c-accent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 48px;
    }
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 120px;
      padding-bottom: 120px;
      gap: 120px;
    }
  }

  .hi-mail {
    display: block;
    width: fit-content;
    border-bottom-width: 8px;
    border-color: black;
    padding-bottom: 14px;
  }

  .mails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &-item {
      display: flex;
      flex-direction: column;
      min-width: 262px;

      .mail {
        text-decoration: underline;
      }
    }
  }

  .star {
    height: 37px;
    align-self: self-start;
  }

  .addresses {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @include desktop {
    .star {
      align-self: end;
    }

    .contacts {
      height: 100vh;
      &__content {
        flex-direction: row;
      }

      .addresses {
        flex-direction: row;
        gap: 48px;
      }
      &__container {
        flex-direction: column;
        gap: 0;
        padding-bottom: 24px;
      }
    }

    .mails-item {
      text-align: end;
    }
  }
</style>

<script>
  const logo = document.querySelector("#logo") as HTMLElement;
  logo.classList.toggle("black-logo");
</script>
