---
import TeaserVideo from "@assets/videos/teaser.mp4";
import VideoFallback from "@assets/video-fallback.png";
import Image from "astro/components/Image.astro";

const { teaser } = Astro.props;
const { title, links } = teaser;
const date = new Date().getFullYear();
---

<section class="teaser">
  <h2 class="text-title-1">
    {title}
  </h2>
  <video id="background-video" autoplay loop muted playsinline>
    <source src={TeaserVideo} type="video/mp4" />
  </video>

  <Image id="video-bg-fallback" src={VideoFallback} alt="" />

  <div class="text text-body">
    {
      links.map((link) => (
        <a href={link.link} target="_blank" class="text-item">
          {" "}
          {link.title}{" "}
        </a>
      ))
    }
  </div>

  <div class="side-text">
    2006–{date}
  </div>
</section>

<style lang="scss">
  h2 {
    max-width: 800px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;

    &-item {
      display: block;
      max-width: 220px;
    }
  }

  .side-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translate(-30%, 30%);
  }

  .teaser {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    padding: 72px 16px 16px;
    color: white;
  }

  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #video-bg-fallback {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (prefers-reduced-motion: reduce) {
    #background-video {
      display: none;
    }

    #video-bg-fallback {
      display: block;
    }
  }
</style>
